<template>
  <div>
    <div class="col-lg-12 mx-auto mt-3">
      <h4 class="pageTitle">
        about me
      </h4>
      <p>Welcome my page!</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae eius, placeat nulla esse ullam suscipit alias? Eos delectus ratione facilis possimus, at aperiam debitis non vero iste officiis consequatur. Nam.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos a quod sunt commodi enim itaque repellat consequatur ipsum iusto? Animi eaque, aut excepturi nesciunt porro quia doloribus eum deleniti reiciendis.</p>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style>

</style>