<template>
  <div>
    <div class="contact">
      <h1 class="contact__title">
        Contact
      </h1>
      <form
        action=""
        class="contact__form"
      >
        <div class="contact__section-1">
          <!-- NAME -->
          <div class="contact__form-input contact__form-input-name">  
            <input
              type="text"
              class="form-text"
              placeholder="NAME"
              v-model.trim="name" 
              @input="$v.name.$touch()"
              :class="$v.name.$error ? 'onError':''"
            >
          </div>
          <!-- EMAIL -->
          <div class="contact__form-input contact__form-input-email">
            <input
              type="text"
              class="form-text"
              placeholder="EMAIL"
              v-model.trim="email" 
              @input="$v.email.$touch()"
              :class="$v.email.$error ? 'onError':''"
            >
          </div>
          <!-- SELECTED SUBJECT -->
          <div
            class="contact__form-input contact__form-selected" 
            :class="selectedSubject=='Other' ? 'col-md-4' : 'col-md-12'"
          >
            <select
              @blur="$v.selectedSubject.$model=selectedSubject"
              v-model="selectedSubject"
              :class="$v.selectedSubject.$error ? 'onError' : ''"
            >
              <option
                v-for="(subject, index) in subjects"
                :key="index" 
                :value="subject.value"
                :selected="index==0"
                :disabled="index==0"
              >
                {{ subject.text }}
              </option>
            </select>
          </div>
          <!-- OTHER SUBJECT -->
          <div
            class="contact__form-input contact__form-input-other"
            v-if="selectedSubject=='Other'"
          >
            <input
              type="text"
              class="form-text"
              placeholder="SUBJECT"
              v-model.trim="subjectOther" 
              @input="$v.subject.$touch()"
              :class="$v.subject.$error ? 'onError':''"
            >
          </div>
          <!-- MESSAGE -->
          <div class="contact__form-input contact__form-input-message">
            <textarea
              rows="4"
              placeholder="MESSAGE"
              v-model.trim="message"
              @input="$v.message.$touch()"
              :class="$v.message.$error ? 'onError':''"
            />
          </div>
        </div>
        <div class="contact__section-2">
          <!-- BUTTONS - reply -->
          <div class="contact__replies">
            <div
              v-if="submitted=='success'"
              class="text-success reply reply-success animated flipInX"
            >
              Message sent successfully
            </div>
            <div
              v-if="submitted=='fail'"
              class="text-danger reply reply-fail animated flipInX"
            >
              An error occurred while sent message. Please try again later 
            </div>
            <div
              v-if="submitted=='trying'"
              class="loading"
            >
              <img
                :src="require('../../assets/img/loading.svg')"
                width="100px"
                alt="loading..."
              >
            </div> 
          </div>
          <!-- BUTTONS -->
          <transition-group 
            tag="div"
            class="contact__buttons"
            enter-active-class="animated zoomIn"
            leave-active-class="animated fadeOut position-absolute"
            move-class="buttonTransform"
          >
            <div
              key="submit"
              class="bttn bttn--submit"
              v-if="!$v.$invalid"
              @click.prevent="submit"
            >
              SEND 
            </div>
            <div
              key="reset"
              class="bttn bttn--reset"
              @click.prevent="reset"
            >
              RESET
            </div>
          </transition-group>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { minLength, required, email } from "vuelidate/lib/validators";
import axios from "axios";
import { expandContent }   from "../../custom.js";

export default {
  mounted(){
      expandContent(document.getElementById("page"),600,0.2)
  },
  data(){
    return{
      name:"",
      email:"",
      subjects: [
        {value : "", text:"SUBJECT"},
        {value : "Wassup dude", text:"Wassup dude"},
        {value : "About hiring you", text:"About hiring you"},
        {value : "Other", text:"(Other)"},
      ],
      selectedSubject : "",
      subjectOther : "",
      message : "",
      submitted:"",
      siteKey : "6Lfr48QUAAAAAGvFUgxMDcHg4IY96L3uze7S1usA",
      recaptchaToken : null,
      recaptchaVerified: false,
      recaptchaResult : false,
      recaptchaScore : 0
    }
  },
  computed:{
    subject(){
      return this.selectedSubject=="Other" ?  this.subjectOther : this.selectedSubject
    },
  },
  validations : {
    name : {
      required,
      minLength: minLength(3),
    },
    email:{
      required,
      email,
      minLength: minLength(5),
    },
    selectedSubject:{
      required
    },
    subject:{
      required,
      minLength: minLength(5),
    },
    message:{
      required,
      minLength: minLength(5),
    },/*
    recaptchaResult:{
      true: value=> value===true
    }*/
  },
  methods:{
    submit(){
      this.submitted="trying"
      if (!this.$v.$invalid) {
        grecaptcha.ready(()=> {
            grecaptcha.execute(this.siteKey, {action: 'mail'}).then((token)=> {
              axios.post("reCaptcha.php",{
              recaptchaToken : token
              })
              .then((response)=>{
                this.recaptchaVerified=true
                this.recaptchaResult=response.data.success
                this.recaptchaScore=response.data.score
                if (this.recaptchaResult==true && response.data.score>0.8) {
                  axios.post("mail.php",{
                    name : this.$data.name,
                    email : this.email,
                    subject : this.subject,
                    message : this.message,
                  }).then(response=>{
                    this.submitted=response.data;
                  })
                  .catch(e => {
                    console.log(e);
                    this.submitted="fail";
                  })
                }
                else{
                  this.submitted="fail";
                }
              })
              .catch(e => {
                console.log(e);
                this.submitted="fail";
              })
            });
        });
      }
    },
    recaptchaReset(){
      this.recaptchaToken="";
      this.recaptchaResult=false;
      this.recaptchaVerified=false;
    }, 
    reset(){
      this.name=""
      this.email=""
      this.selectedSubject=""
      this.subjectOther=""
      this.message=""
      this.submitted=""
      this.$v.$reset();
      this.recaptchaReset()
    }
  },
}
</script>

<style lang="sass" >
@import "bootstrap-scss/bootstrap.scss"

@mixin hoverShadow
  transform: translate(-2px, -2px)
  box-shadow: 2px 2px 0px #333
  
.contact
  @extend .col-12
  font-size: 1.3rem
  padding: 0
  margin: auto

  &__section-1
    @extend .col-lg-9
    padding: 0

  &__section-2
    @extend .col-lg-3
    padding: 0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center


  &__title
    margin-bottom: 2rem
    border-bottom: 1px solid white
    width: fit-content

  &__replies
    margin-bottom: 2rem
    .reply
      @extend .alert
      &-success
        @extend .alert-success
      &-fail
        @extend .alert-danger

  &__buttons
    @extend .col-auto, .flex-lg-column
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    margin: -0.5rem
    position: relative

    .bttn
      position: relative
      background-color: rgba(255, 255, 255, .1)
      font-size: 1.6rem
      text-align: center
      padding: .5rem 1rem
      margin: 0.5rem
      min-width: 10rem
      transition: all .6s cubic-bezier(0.77, 0, 0.175, 1)
      z-index: 2
      user-select: none
      cursor: pointer   

      &::before,&::after
        content: ''
        position: absolute
        transition: inherit
        z-index: -1

      &::before
        left: 50%
        top: 0
        width: 0%
        height: 100%
        border: 2px dashed white
        border-left: 0px
        border-right: 0px
        transition-delay: 0s

      &::after
        background-color: white
        left: 50%
        bottom: 0
        width: 0
        height: 100%

      &:hover
        color: black
        transition-property: all, color
        transition-delay: 0s, .4s
        letter-spacing: .7rem
        &::before, &::after
          left: 0px
          width: 100%
        &::after
          transition-delay: .4s
          top: 0

      &--submit
        &::after
          background-color: lightgreen
        &::before
          border-color: lightgreen
      &--reset
        &::after
          background-color: coral
        &::before
          border-color: coral

    &:focus
      outline: none

    
    
  
  &__form
    @extend .row
    text-align: center
    
    &-input 
      margin: .5rem 0
      font-size: 1.4rem
      display: inline-flex

      &-name, &-email
        @extend .col-sm-6
      &-other
        @extend .col-md-8 
      &-message
        @extend .col-md-12
      
    input,textarea,select
      width: 100%
      padding: .8rem 2rem
      border: 1px solid rgba(255, 255, 255, 1)
      background: rgba(255, 255, 255, 0)
      border-radius: 10px
      outline: none
      display:  block
      transition: all 0.1s ease-in-out, height 0s
      &:hover,&:focus
        @include hoverShadow()


.buttonTransform
  transition: all 1s

input::placeholder, textarea::placeholder
  color: white

.onError
  border-color: maroon !important
  &:focus, &:hover
    box-shadow: 2px 2px maroon !important

select>option
  color: black
</style>>