<template>
  <div class="col-lg-12 mt-3 pt-5 d-flex mx-auto">
    <div
      class="col-lg-4 logos"
      :class="item.class" 
      :style="{backgroundImage:'url('+item.src+')'}"
      v-for="(item,index) in htmlCssJs"
      :key="index"
    >
      <!--<img class="" :src="item.src" width="100%"  :alt="item.name">-->
    </div>
  </div>
</template>

<script>
export default {
    data(){
        return{
            htmlCssJs:[
                {
                    name : "html" , src : require('../../assets/img/html.png') , class : "" , score: 4 , text : " It seems like it's easy but there are alot of tag so I'm still working on HTML/HTML5 to learn new features"
                },
                {
                    name : "css" , src : require('../../assets/img/css.png') , class : "mr-2 ml-2" , score : 3 , text : ""
                },
                {
                    name : "Javascript" , src : require('../../assets/img/js.png') , class : "" , score : 3 , text : ""
                }
            ]
        }
    }
}
</script>

<style>
.logos{
    background-size: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, .2 );
    border-radius: 50px;
    height: 200px;
}

</style>