@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css");

@keyframes bgTransition
    0% 
        filter: brightness(0)
    50% 
        filter: brightness(0)
    
    100% 
        filter: brightness(1)

@keyframes expand
    0%
        max-height: 0px;
        overflow: hidden;
    99%
        overflow: hidden;
        max-height: 40px;
    100%
        overflow: visible;
        max-height: 60px;