@import url('https://fonts.googleapis.com/css?family=Turret+Road&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nova+Mono&display=swap');
@import "bootstrap-scss/bootstrap.scss"
@import "animations.sass"

html
  font-size: 62.5% !important;
  @include media-breakpoint-down(xs) 
    font-size: 52.5% !important
*
  color: white;
  font-family: "Source Sans Pro", sans-serif,'Avenir', Helvetica, Arial;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  user-select: none
  &::selection
    background-color: maroon;
    color: white;

  &::-webkit-scrollbar-track
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
    border-radius: 10px
    background-color: transparent;

  &::-webkit-scrollbar
    width: 12px
    background-color: transparent;
    padding-top: 5px;

  &::-webkit-scrollbar-thumb
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;

hr
  background-color: white;

body
  background: linear-gradient(to right , #ff9966, #ff5e62) ;

.backG
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100vh;
  z-index: -2;
  background-image: url("../img/bg.svg")
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
  animation: bgTransition 2s;

h1,h2, h3, h4, h5, h6 
  font-family:  'Source Sans Pro','Nova Mono','Turret Road', monospace,  cursive ;
  word-wrap: break-word;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  
pre,p
  color: white
  letter-spacing: 0.2rem; 

.loading
  position: fixed;
  pointer-events: all;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  &--relative
    position: relative;


  
