<template>
  <div class="header">
    <div
      class="header__logo"
      id="logo"
    >
      <img
        :src="require('../assets/img/software.svg')" 
        alt="logo"
      >
    </div>
  </div>
</template>

<script>

import { expandContent }   from "../custom.js";

export default {
    mounted(){
        expandContent(document.getElementById("logo"),200,.7)
    }
}
</script>

<style lang="sass">
@import "bootstrap-scss/bootstrap.scss"

.header
  margin: auto;
  display: flex;
  
  &__logo
    display: block;
    background-color: rgba(0, 0, 0, .1);
    border: 1px white solid;
    border-left: 0px; border-right: 0px;
    border-radius: 10px;
    transition-delay: 0s;
    & img
      padding: 1rem;
      width: 12rem;
      height: 12rem;
</style>