<template>
  <div
    class="content"
  >
    <div 
      class="content__verticalLines"
    >
      <div 
        class="content__inner"  
        id="content"
      >
        <hr>
        <h1>AKİF<br>AYÇİÇEK</h1>
        <h6>Front-End Developer</h6>
        <hr>
      </div>
    </div>
  </div>
</template>

<script>
import { expandContent }   from "../custom.js";

export default {
    mounted(){
        expandContent(document.getElementById("content"),500,.7)
    }
}
</script>
<style lang="sass">
@import "bootstrap-scss/bootstrap.scss"

.content
  @extend .col-sm-8, .col-lg-6
  display: inline-block;
  padding: 0;
  margin: 4rem auto; 

  &__inner
    background-color: rgba(0, 0, 0, .3);
    border: 1px solid #ffffff;
    border-left: 0px; border-right: 0px;
    border-radius: 1rem;
    & h1
      font-family:  'Turret Road','Nova Mono', monospace,  cursive ;
      font-size: 4rem;
    & h6
      font-size: 1.4rem;

  &__verticalLines
    &::before, &::after
      content: '';
      overflow: visible;
      position: absolute;
      width: 2px;
      top: 100%;
      left: calc(50% - 1px);
      height: 4rem;
      background-color: white;
      display: block;
      width: 1px;

    &::before
        top: calc(0px - 4rem);

    
</style>
