<template>
  <div class="home">
    <home-Header />
    <home-Content />
    <home-Menu />
    <social-Icons />
  </div>
</template>

<script>
import homeHeader from "./header"
import homeContent from "./homeContent"
import homeMenu from "./menu"
import socialIcons from "./icons"

export default {
  components: {
    homeHeader,
    homeContent,
    homeMenu,
    socialIcons
  }
}
</script>
<style lang="sass">
@import "bootstrap-scss/bootstrap.scss"

.home
  @extend .col-12
  padding: 0px;
  margin-top: 2rem;
  text-align: center;
  display: flex
  flex-direction: column

</style>