<template>
  <!-- Social Icons -->
  <div class="icons">
    <ul>
      <li
        v-for="(icon,index) in socialIcons"
        :key="index"
      >
        <a
          target="blank"
          :href="icon.url"
        >
          <img
            :src="icon.src"
            alt=""
          >
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
    data(){
        return{      
            socialIcons: [
                {src : require('../assets/img/twitter.svg'), url:"https://www.twitter.com/AkifAycick", name:"Twitter / AkifAycick"},
                {src : require('../assets/img/facebook.svg'), url:"https://www.facebook.com/AkifAycicek", name:"Facebook / AkifAycicek"},
                {src : require('../assets/img/linkedin.svg'), url:"https://www.linkedin.com/in/akifAycicek", name:"LinkedIn / akifAycicek"}
            ],
        }
    },
}
</script>

<style lang="sass">
@use "sass:list"
.icons
    position: relative;
    left: center;
    margin: 2rem auto 0 auto;

    ul
        position: relative;
        display: inline-flex;
        list-style: none;
        margin: 0px;
        padding: 0px;

        li
            $iconColors: #55ACEE, #3B5998, #007AB9;
            @for $i from 1 through length($iconColors) 
                &:nth-child(#{$i}) a 
                    animation-delay: calc( 1s + #{$i/8}s )
                    &:hover
                        background-color: nth($iconColors, $i)

            position: relative
            &:nth-child(2)
                margin: 0rem 1rem;
                
            &::before
                position: absolute;
                content: "";
                left: calc(50% - 1px);
                top: calc(0% - 2rem);
                height: 2rem;
                border-right: 1px solid white;

        li a
            position: relative
            display: block;
            padding: 0rem;
            border: 1px solid white;
            transition: all .5s;
            border-radius: 1rem;
            max-height: 0px;
            animation: expand .6s ease-in forwards;
            animation-iteration-count: 1;
            overflow: hidden;
            
            &:hover
              border-radius: 0;
              & img
                width: 5rem;
                height: 5rem;
                
            img
                width: 4rem;
                height: 4rem;
                transition: all .5s;
</style>
