<template>
  <div class="menu">
    <ul
      id="menu"
    >
      <router-link
        v-for="(item,index,key) in menuItems"
        :key="key"
        tag="li"
        exact
        :to="item.url"
      >
        <a href="#">
          {{ item.name }}
        </a>
      </router-link>
    </ul>
  </div>
</template>

<script>

import { expandContent }   from "../custom.js";

export default {
    data(){
        return{
            menuItems:[
             /*    {name:"intro",url:"/intro", description:"In development"},
                {name:"about",url:"/about", description:"In development"}, */
                {name:"contact",url:"/contact", description:""},
            ]
        }
    },
    mounted(){
        expandContent(document.getElementById("menu"),800,.7)
    }
}
</script>

<style lang="sass">
@import "bootstrap-scss/bootstrap.scss"

.menu
  border: 1px solid white;
  border-left: 0px;
  border-right: 0px;
  border-radius: 10px;
  position: relative;
  margin: auto;

  ul
    @extend  .flex-sm-row
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
      
    li a 
      background-color: rgba(0, 0, 0, .1);
      display: block;
      min-width: 15rem;
      padding: 1.5rem 1rem;
      font-size: 1rem;
      letter-spacing: 5px;
      line-height: 1rem;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      transition: all .5s;

      &:last-child
        border-right: 1px;
        
      &:hover
        background-color: rgba(0, 0, 0, .2);
        font-size: 1.2rem;

</style>>