<template>
  <div
    id="page"
    class="page"
  >
    <div
      class="exit"
      @click="exit"
    >
      <img
        :src="require('../assets/img/close.svg')"
        alt=""
      >
    </div>
    <component
      class="page__inner"
      :is="activePage"
    />
  </div>
</template>

<script>
//import about from "./pages/about"
import contact from "./pages/contact"
//import intro from "./pages/intro

export default {
    data(){
        return{
            activePage: this.$route.params.activePage
        }
    },
    methods:{
        exit(){
            this.$router.push({name: "home"});
        }
    },
    components: {
        //'about' : about,
        contact
        //,'intro' : intro
    },
    beforeRouteEnter(to,from,next){
        let comps = to.matched[0].components.default.components;
        if (comps.hasOwnProperty(to.params.activePage)) {
            next();
        }
        else
            next({name: "home"});
    }
}
</script>

<style lang="sass">
@import "bootstrap-scss/bootstrap.scss"
  
.page
  @extend .col-sm-8
  background-color: rgba(0, 0, 0, .3);
  border: 1px solid #ffffff;
  border-left: 0px; border-right: 0px;
  border-radius: 1rem;
  overflow: visible;
  position: relative;
  margin: 2rem auto;
  padding: 0;
  &__inner
    padding: 5rem 2rem 2rem 2rem;
    display: flex;


.exit
  border-radius: 10px;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: calc( 0px + 10px );
  top: 10px;
  z-index: 1;
  cursor: pointer;
  fill: white;
  &:hover
    background-color: rgba(255, 255, 255, .1) ;
  img
    width: 1.5rem;

</style>