<template>
  <!-- Social Icons -->
  <div class="row">
    <div class="follow">
      <ul>
        <li
          v-for="(icon,index) in socialIcons"
          :key="index"
        >
          <a
            target="blank"
            :href="icon.url"
          >
            <img
              :src="icon.src"
              alt=""
              width="40px"
              height="40px"
            >
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
    data(){
        return{      
            socialIcons: [
                {src : require('../assets/img/twitter.svg'), url:"https://www.twitter.com/AkifAycick", name:"Twitter / AkifAycick"},
                {src : require('../assets/img/facebook.svg'), url:"https://www.facebook.com/AkifAycicek", name:"Facebook / AkifAycicek"},
                {src : require('../assets/img/linkedin.svg'), url:"https://www.linkedin.com/in/akifAycicek", name:"LinkedIn / akifAycicek"}
            ],
        }
    },

}
</script>

<style lang="sass">
@use "sass:list"
.follow
    position: relative;
    left: center;
    margin: auto;
    width: 100%;

    ul
        position: relative;
        display: inline-flex;
        list-style: none;
        margin: 0px;
        padding: 0px;

        li
            $iconColors: #55ACEE, #3B5998, #007AB9;
            @for $i from 1 through length($iconColors) 
                &:nth-child(#{$i}) a 
                    animation-delay: calc( 1s + #{$i/8}s )
                    &:hover
                        background-color: nth($iconColors, $i)

            position: relative
            &:nth-child(2)
                margin: 0rem .5rem;
                
            &::before
                position: absolute;
                content: "";
                left: calc(50% - 1px);
                top: calc(0% - 1.5rem);
                height: 1.5rem;
                border-right: 1px solid white;

        li a
            position: relative
            display: block;
            padding: 0rem;
            border: 1px solid white;
            transition: background .5s;
            border-radius: 10px;
            max-height: 0px;
            animation: iconAnim .6s ease-in forwards;
            animation-iteration-count: 1;
            overflow: hidden;
            
            &:hover
                & img
                    width: 60px;
                    height: 60px;
                
            img
                transition: all .5s;

@keyframes iconAnim
    0%
        max-height: 0px;
        overflow: hidden;
    99%
        overflow: hidden;
        max-height: 40px;
    100%
        overflow: visible;
        max-height: 60px;
</style>
