<template>
  <div id="app">
    <div class="backG" />
    <div class="container-fluid">
      <transition
        mode="out-in"
        enter-active-class="animated slideInLeft quickSlide"
        leave-active-class="animated zoomOutLeft quickSlide"
      >
        <router-view />
      </transition>
    </div>
  </div>
</template>

<script>
require('./assets/css/style.sass');


export default {
  name: 'App',
}
</script>

<style lang="sass">
#app 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


.quickSlide
  animation-duration: .4s;
</style>
